@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* 페이지 전체 CSS */
.App {
  font-family: 'Noto Sans KR', sans-serif;
  width: 1500px;
  margin: 20px auto 0;
}




/* 로고와 message부분 CSS */
.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 15px;
 }

 .App-header>h4{
  color:#282828;
}

.App-title{
  color: #cccccc;
  font-size: 9pt;
}




/* 검색 CSS */
.search-bar{
  width: 1130px;
  height: 50px;
  background-color:white;
  display: inline-block;
  border-radius: 7px;
  box-shadow: 0.1px 0.1px 7px 1px  rgba(118,118,118,0.2);
}

.search-bar>img{
  margin: 7.5px;
  width: 35px;
  height: 35px;
  float: right;
  -moz-transform: scaleX(-1); 
  -o-transform: scaleX(-1); 
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1);
}

.search-bar>input{
  width: 1050px;
  height: 50px;
  background: none;
  border: none;
}

.search-bar>input:focus{
  outline: none;
}



/* 메뉴 CSS */
.menu{
  top: 120px;
  width: 150px;
  height: 500px;
  display: inline-block;
  background: #ffffff;
  float: left;
  margin-right: 100px;
  position: sticky;
}




/* 내용 CSS */
.content-box{
  /* flex-direction: row; */
  display: flex;
}

.clearfix1,.clearfix2{
  color: black;
}

.clearfix2{
  margin-left: 20px;
}

.clearfix1>.box{
  /* display: inline; */
  flex-direction: column;
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 7px;
  margin-bottom: 20px;
  box-shadow: 0.1px 0.1px 7px 1px  rgba(118,118,118,0.2);
}

.clearfix2>.box{
  flex-direction: column;
  width: 700px;
  height: 332px;
  background-color: white;
  border-radius: 7px;
  margin-bottom: 20px;
  box-shadow: 0.1px 0.1px 7px 1px  rgba(118,118,118,0.2);
}

.box{
  font-size: small;
  width: 500px;
  height: 400px;
}

#chart1{
  width: 500px;
  height: 200px;
}

.tap-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #ffffff;

}
.tap-menu>li{
  margin-top:60px;
  
}
