/* 로고와 message부분 CSS */
.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 15px;
}

.App-header>h4{
  color:#282828;
}

.App-title{
  color: #cccccc;
  font-size: 9pt;
}